#box
  .card{:style => "width: 18rem;"}
    = form_tag("payments", method: :post) do
      %img.card-img-top.bg-g
      .card-body
        %h5.card-title 緑の商品
        %p.card-text pay.jpのミニアプリ
        %p.card-text 3500円
        = submit_tag("購入する", class: "btn btn-primary")

= link_to "カード登録画面に戻る", root_path, class: "btn btn-info clerfix"  